<li class="d-flex justify-content-between">
  <span><%= contact[:name] %></span>
  <a
    class="mx-1"
    href="mailto:<%= contact[:email] %>"
    title="<%= contact[:email] %>"
    >
    <span class="fa fa-envelope"></span>
  </a>
</li>
