<li>
  <a
    class="mx-1 d-flex justify-content-between align-items-center"
    href="<%= link[:href] %>"
    <% if link[:tooltip] %>
      title="<%= link[:tooltip] %>"
    <% end %>
    >
    <span><%= link[:text] %></span>
    <% if link[:external] %>
      <span class="fa fa-external-link"></span>
    <% end %>
  </a>
</li>
