/landing-page/types/headnode/content/apps/*
/landing-page/types/headnode/content/config-packs/*
!/landing-page/types/headnode/content/config-packs/example.md.disabled
/landing-page/overridden/
/landing-page/branding
/landing-page/output
/landing-page/tmp
crash.log

## Environment normalization:
/.bundle/
/vendor/bundle
/lib/bundler/man/
