<div>
  <h3>How to Enable HTTPS</h3>
  <p>
  If you are reading this than HTTPS has likely been disabled. The majority of
  the Flight Web Suite will not function correctly.
  </p>
  <p>
  If you are the administrator for this environment, you can complete the
  following steps to start the HTTPS service.  If you are not the
  administrator, contact your administrator and ask them to do so.
  </p>
  <div class="card mt-2 mb-4">
    <div class="card-body d-flex flex-column">
      <%= yield %>
    </div>
  </div>
</div>
