<aside class="sidenav col-12 col-md-3 col-lg-2">
  <div>
    <% unless environment('environment.name').nil? %>
      <h2>Environment</h2>
      <ul class="w-100">
        <li><%= environment('environment.name') %></li>
      </ul>
    <% end %>

    <% unless environment('organisation.name').nil? %>
      <h2>Organisation</h2>
      <ul class="w-100">
        <li><%= environment('organisation.name') %></li>
      </ul>
    <% end %>

    <% if !contacts.empty? %>
      <h2>Contacts</h2>
      <ul class="w-100">
        <% contacts.each do |contact| %>
          <%= contact.compiled_content(snapshot: :pre_default) %>
        <% end %>
      </ul>
    <% end %>

    <% if !links.empty? %>
      <h2>Links</h2>
      <ul class="w-100">
        <% links.each do |link| %>
          <%= link.compiled_content(snapshot: :pre_default) %>
        <% end %>
      </ul>
    <% end %>
  </div>
</aside>
