<% unless app_items.empty? %>
  <div class="mb-4">
    <a id="apps"></a>
    <p class="d-none" data-https-d-block>
    This environment provides access to the following web tools:
    </p>
    <div class="d-none" data-http-d-block>
      <p class="tagline centered-tagline">
        The Flight Web Suite is not currently available as HTTPS has not been
        enabled for your environment. To learn more about HTTPS and how to enable
        it click the button below.
      </p>
      <div class="clearfix mb-5">
        <a
          class="button link learn-more"
          href="<%= prefix_url("/enable-https") %>"
        >
          LEARN MORE
        </a>
      </div>
    </div>
    <div class="card-deck app-card-deck">
      <% app_items.each do |app| %>
        <%= app.compiled_content(snapshot: :pre_default) %>
      <% end %>
    </div>
  </div>
<% end %>
