<section id="docs-link-block">
  <h2>Need help getting started?</h2>
  <p class="tagline">
    The OpenFlight documentation contains step-by-step guides to using the Flight Web Suite tools.
  </p>
  <a class="button link"
     href="https://www.openflighthpc.org/latest/docs/flight-environment/use-flight/flight-web-suite/"
     target="_blank">
    GO TO DOCUMENTATION
  </a>
</section>
