<section id="docs-link-block">
  <h2>Need help getting started?</h2>
  <p class="tagline">
    The OpenFlight documentation contains step-by-step guides to using the Flight Web Suite tools.
  </p>
  <a class="button" href="#">GO TO DOCUMENTATION</a>
</section>
