---
title: Home
---
<h1>Welcome to
  <% if environment('environment.name') %>
    the <span><%= environment('environment.name') %></span>
  <% else %>
    your
  <% end %>
  compute environment
</h1>
<%= apps_item.compiled_content(snapshot: :pre_default) %>
<%= blurb.compiled_content(snapshot: :pre_default) %>
<%= config_packs_item.compiled_content(snapshot: :pre_default) %>
