<div id="tools-block">
  <h2>OpenFlight Tools</h2>
  <p class="mb-5">
    Make the most of your cluster by trying our other open source tools.
  </p>
  <div id="tools-container">
    <div class="tool">
      <div class="tool-row">
        <img
          alt=""
          src="images/user_suite.svg"
        >
        <div>
          <h3 class="mb-3">User suite</h3>
          <p>
            Flight User Suite provides CLI tools for accessing your cluster from the command line.
          </p>
          <a class="button" href="#">LEARN MORE</a>
        </div>
      </div>
    </div>
    <div class="tool">
      <div class="tool-row">
        <img
          alt=""
          src="images/solo_logo.svg"
        >
        <div>
          <h3 class="mb-3">Flight Solo</h3>
          <p>
            Flight Solo is a preconfigured image designed to get users into HPC as quickly as possible.
          </p>
          <a class="button" href="#">LEARN MORE</a>
        </div>
      </div>
    </div>
  </div>
</div>
