<% unless app_items.empty? %>
  <div class="mb-4">
    <h2>Web Suite Tools</h2>
    <a id="apps"></a>
    <p>
    Your environment has the following web tools installed and ready for use.
    </p>
    <div class="card-deck app-card-deck">
      <% app_items.each do |app| %>
        <%= app.compiled_content(snapshot: :pre_default) %>
      <% end %>
    </div>
  </div>
<% end %>
