<% unless config_pack_items.empty? %>
  <div class="mb-4">
    <h2>Config Packs</h2>
    <a id="config-packs"></a>
    <p>
    Your environment has the following config packs for you to download.
    </p>
    <div class="card-deck config-pack-card-deck">
      <% config_pack_items.each do |config| %>
        <%= config.compiled_content(snapshot: :pre_default) %>
      <% end %>
    </div>
  </div>
<% end %>
