<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">404</span>
                <div class="mb-4 lead">This is not the page you are looking for!</div>
                <div class="mb-4 lead d-none http-d-block">
                  You may have been redirected here because HTTPs has been disabled!
                </div>
                <a href="/" class="btn btn-link">Move Along...</a>
            </div>
        </div>
    </div>
</div>
