<li class="d-flex justify-content-between">
  <span><%= @item[:name] %></span>
  <a
    class="mx-1"
    href="mailto:<%= @item[:email] %>"
    title="<%= @item[:email] %>"
    >
    <span class="fa fa-envelope"></span>
  </a>
</li>
