<img
  id="cloud-l"
  class="cloud"
  alt=""
  src="images/parting_cloud_l.svg"
>
<a href="https://www.openflighthpc.org/latest/" target="_blank">
  <img
    id="footer-logo"
    alt=""
    src="images/openflighthpc_grey.svg"
  >
</a>
<a href="https://www.openflighthpc.org/latest/docs/" target="_blank">
  <i class="fa fa-solid fa-book"></i>
</a>
<a href="https://github.com/openflighthpc" target="_blank">
  <i class="fa fa-brands fa-github"></i>
</a>
<img
  id="cloud-r"
  class="cloud"
  alt=""
  src="images/parting_cloud_r.svg"
>
