.card-footer--button {
  padding: 0 1.25rem 0.75rem;
}

.app-card-deck {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: .5rem;
}

.config-pack-card {
  text-align: left;
  min-width: 100%;
  height: auto;
  margin-bottom: 1rem !important;
}

.card-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .card-title {
    margin: 0;
  }
}

.config-pack-section {
  margin: 4rem 0;
}

.config-pack-card-link {
  color: var(--alces-blue);
  transition: transform 0.25s;
}

.config-pack-card-link:hover {
  text-decoration: none;
}

.config-pack-card-link[aria-expanded=true] {
  transform: rotate(45deg);
}

.app-card-deck .app-card,
.config-pack-card-deck .config-pack-card {

}

.app-card:hover {
  background-color: var(--alces-blue) !important;
  border: solid var(--alces-blue) 1px;
  transition: background-color 0.5s, border 0.5s, filter 0.5s;
  filter: none !important;
}

.app-card:hover img, .app-card:hover i {
  filter: brightness(0) invert(1);
}

.app-card:hover .card-text {
  color: white;
  text-decoration: none;
}

.card-text {
  color: var(--alces-grey);
}

.app-card {
  display: grid !important;
  grid-template-areas:
    "icon title"
    "icon subtitle";
  padding: 1.25rem;
  text-align: left;
}

.app-icon {
  grid-area: icon;
}

.app-card .card-title {
  grid-area: title;
  margin-top: auto;
}

.app-card .tagline {
  grid-area: subtitle;
  padding-right: 1rem;
}

.app-card p:last-child,
.config-pack-card {
}

.properties-panel {
  dt {
    text-transform: uppercase;
    font-size: 13px;
    color: #333;
    letter-spacing: 1px;
    line-height: 20px;
  }
}

.fa-background:before {
  color: #2296d9;
  color: var(--success);
  font-family: FontAwesome;
  font-size: 900%;
  left: 50%;
  opacity: 0.2;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.app-card .fa-background:before {
  top: 45%;
}
.fa-background ~ * {
    z-index: 100;
}

// Styles to disable web suite over HTTP.
.http-strike-disabled,
.http-strike-disabled:hover {
    text-decoration: line-through;
    cursor: not-allowed;
}
.http-bootstrap-disabled { }
.http-opacified {
  opacity: 0.5;
}
.code-block {
    background: #343a40; /* bg-dark */
    color: #f8f9fa; /* text-light */
    padding: 0.5em;
    border-radius: 0.5em;
}
