/*------------------------------------------------
 * Generic branding
 * ----------------------------------------------- */

body {
    font-family: Lexend,-apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
}

.row {
    margin: 0;
    justify-content: center;
}

#main {
    background-image: linear-gradient(var(--sky-blue-grey), white);
    color: var(--alces-grey);
    text-align: center;
}

.centernav {
    background-color: white;
    min-height: calc(100vh - calc(11.2rem));
    padding-inline: 5vw;
}

.centernav.fullscreen {
    min-height: calc(100vh - 8.81rem);
    padding-inline: 0;
}

.link, .nav-link, .btn-toolbar .btn {
    color: white !important;
}

.link:hover,
.nav-link:hover,
.btn-toolbar .btn:hover {
    color: white !important;
    filter: brightness(0.8);
    text-decoration: none;
    cursor: pointer;
}

.link:visited,
.nav-link:visited,
.btn-toolbar .btn:visited {
    color: white !important;
}

.button {
    display: inline-block;
    background-color: var(--alces-blue);
    border-radius: 2px;
    padding: 0.5rem 1.2rem;
    width: fit-content;
    transition: none !important;
}

.button:hover {
    transition: background-color 125ms;
}

h1 {
    margin: 8rem 0;
}

h2 {
    margin-bottom: 1.5rem;
}

.card {
    border-color: var(--sky-blue-grey);
}

.blue-text {
    color: var(--alces-blue);
}

code {
    color: rgba(123,112,199,255);
}

.small-text {
    font-size: 0.75rem;
}

.bg-black {
    background-color: black;
}

strong {
    font-weight: 800;
}


/*------------------------------------------------
 * Navbar and brandbar branding
 * ----------------------------------------------- */

/* Useful classes */
.navbar { }
.navbar .navbar-nav .nav-link { }
.navbar-brand { }
.branding-brandbar-wrapper { }
.branding-brandbar-text-wrapper { }
.branding-brandbar-text { }
.branding-brandbar-logo img { }

.navbar.brandbar .navbar-nav-container {
    justify-content: space-between;
}

.navbar {
    background-color: var(--header-grey);
    color: white;
    border-bottom: 0.45rem solid var(--alces-blue);
}

.branding-brandbar-logo {
    height: 3.9rem;
    padding: 0.3rem;
}

.branding-brandbar-text-wrapper {
    margin-right: 2.5rem;
}

.navbar .dropdown-toggle {
    display: flex;
    align-items: center;
}

.navbar .dropdown-menu {
    background-color: var(--header-grey);
    color: white;
    border-radius: 0;
}

.navbar .dropdown-item:hover {
    background-color: var(--alces-grey);
}

.nav-item {
    display: flex;
    align-items: center;
}

.navbar .nav-item .nav-menu-button {
    padding: 0.8rem 2rem 0.5rem 0;
}

.bordered-nav-item {
    border-right: 1px solid #3E3E3E;
    margin-right: 2rem;
}

#flight-account-menu {
    margin-right: 2rem;
}

.App .brandbar {
}

.App .brandbar .navbar-nav-container {
    margin-left: 2.5rem;
}

.modal-body {
    padding: 4rem;
    text-align: center;
}

.modal-body .header {
    display: grid;
    grid-template-columns: 2rem auto 2rem;
    grid-template-areas: 'blank title close';
    width: 100%;
    margin-bottom: 2rem;
}

.modal-body h2 {
    margin-inline: auto;
    margin-bottom: 0;
    grid-area: title;
}

.modal-body .close-button {
    grid-area: close;
    font-size: 1.5rem;
    cursor: pointer;
}

.modal-body .header, .modal-body .small-text {
    margin-bottom: 3rem;
}

.login-form-input {
    display: grid;
    grid-template-columns: 6rem auto;
    column-gap: 1rem;
    margin-bottom: 2rem;
    align-items: center;
}

.login-form-input label {
    text-align: start;
    margin: 0;
}

.modal-body .button {
    margin-top: 1rem;
}

/* -----------------------------------------------
 * Footer
 * ----------------------------------------------- */

footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

footer .fa {
    font-size: 1.4rem;
    color: var(--alces-blue);
    display: inline-block;
    margin-top: 0.4rem;
    margin-left: 1.5rem;
}

#footer-logo {
    height: 3.2rem;
    margin: 1rem 0;
}

.cloud {
    width: 35vw;
    min-width: 17rem;
    position: absolute;
    bottom: 0;
    height: auto;
    display: inline-block;
    pointer-events: none;
}

#cloud-l {
    left: 0;
}

#cloud-r {
    right: 0;
}

/* -----------------------------------------------
 * Logo
 * ----------------------------------------------- */
img.logo {
    display: block;
    max-height: 150px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/*------------------------------------------------
 * Landing page dashboard branding
 * ----------------------------------------------- */
.branding-landingpage-dashboard-logo-wrapper { }
img.branding-landingpage-dashboard-logo { }

.tagline {
    font-size: 1.1rem;
    margin-bottom: 2rem;
}

.centered-tagline {
    max-width: 40rem;
    margin-inline: auto;
}

#tools-container {
    margin: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5vw;
    justify-items: center;
}

.tool {
    min-width: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tool-row {
    display: flex;
    text-align: left;
}

.tool img {
    height: 12rem;
    margin-right: 2rem;
}

.block {
    margin: 8rem 0;
}

/* -----------------------------------------------
 * App branding
 * ----------------------------------------------- */

.app-card-deck .app-card,
.config-pack-card-deck .config-pack-card {
}

.app-card.link:hover {
    background-color: var(--alces-blue) !important;
    border: solid var(--alces-blue) 1px;
    transition: background-color 0.5s, border 0.5s, filter 0.5s;
    filter: none !important;
}

.app-card.link:hover img, .app-card.link:hover i {
    filter: brightness(0) invert(1);
}

.app-card.link:hover .card-text {
    color: white;
    text-decoration: none;
}

.card-text {
    color: var(--alces-grey);
}

.app-card {
    display: grid !important;
    grid-template-areas:
    "icon title"
    "icon subtitle";
    padding: 3rem 2rem;
    text-align: left;
}

.app-icon {
    grid-area: icon;
    height: 8rem;
    margin-right: 2rem;
    padding-inline: 1rem;
}

.app-card .card-title {
    grid-area: title;
    margin-top: auto;
}

.app-card .tagline {
    grid-area: subtitle;
}

.app-card-deck {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.card-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
    cursor: pointer;
}

.card-title-container .card-title {
    margin: 0;
}

.toolbar {
    border: none;
    border-radius: 0 !important;
    padding-top: 0;
    padding-bottom: 0.45rem;
    background-color: var(--alces-blue);
    text-align: start;
}

.btn-toolbar {
    height: 2.4rem;
    font-size: 1.5rem;
}

.btn-toolbar, .btn-toolbar .btn-group {
    align-items: center;
}

.btn-toolbar .btn:focus {
    box-shadow: none;
}

/* -----------------------------------------------
 * Apps dashboard branding
 * ----------------------------------------------- */
.branding-apps-dashboard-logo-wrapper { }
img.branding-apps-dashboard-logo { }

.narrow-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-inline: auto;
}

.blurb.app-card {
    margin-top: 3rem;
    margin-inline: auto;
}

.narrow-container, .blurb.app-card {
    max-width: 40rem;
}

.narrow-container > p {
    padding: 1.25rem;
}

.page.row footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
}


/* -----------------------------------------------
 * Apps full screen and zen-mode styles
 * ----------------------------------------------- */

.App .fullscreen-content {
    /* Subtract header and toolbar height */
    height: calc(100vh - 8.81rem);
}

html:fullscreen .fullscreen-content,
body.zen-mode .fullscreen-content {
    /* Subtract toolbar height */
    height: calc( 100vh - 3.3rem );
}

:root {
    --alces-blue: #2693D7;
    --alces-grey: #4e5a66;
    --sky-blue-grey: #DCEEF5;
    --header-grey: #191919;
}
