<div class="card app-card">
  <div class="card-body">
    <h5 class="card-title">
      <%= app[:title] %>
    </h5>
    <% if app[:subtitle] %>
      <h6 class="card-subtitle mb-2 text-muted">
        <%= app[:subtitle] %>
      </h6>
    <% end %>
    <%= app.compiled_content %>
  </div>
  <div class="card-footer--button">
    <a href="<%= app[:path] %>" class="card-link btn btn-primary">
      Go!
    </a>
  </div>
</div>
