<div class="environment">
  <% if @item[:logo_url] %>
    <div class="mb-2">
      <img
        src="<%= @item[:logo_url] %>"
        alt="Environment Logo"
        class="logo"
        >
      </img>
    </div>
  <% end %>
  <h3 class="text-center"><%= @item[:name] %></h3>
  <%= yield %>
</div>
